__pycache__/
appvenv/
local/
**/pickles/*/*.pkl
**/pickles/corpus_repr/glove-retrained.txt
**/pickles/corpus_repr/bert-retrained

**/pretrained_models/GoogleNews-vectors-negative300.bin.gz
**/pretrained_models/GoogleNews-vectors-negative300.bin
**/pretrained_models/cc.en.300.bin.gz
**/pretrained_models/cc.en.300.bin
**/pretrained_models/glove6b300dtxt.zip
**/pretrained_models/glove.6B.300d.txt
**/pretrained_models/*/*
**/pretrained_models/*/*

node_modules/
